body {
  background-color: #efefef;
  color: #696969;
  font-weight: bold;
}

#dead {
  display: none;
}

@keyframes breath {
  0% {
    transform: translate(-50%, -55%);
  }
  50% {
    transform: translate(-50%, -45%);
  }
  100% {
    transform: translate(-50%, -55%);
  }
}
#petDiv {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
